*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #24252a;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    font-size: larger;
    
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}
.nav li{
    display: inline-block;
    padding: 0px 20px;
}
.nav li a{
    transition: all 0.3s ease 0s;
}
.nav li a:hover{
    color: #0088a9;
}
button{
    padding: 9px 25px;
    background-color: rgba(0, 136,169, 1);
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
button:hover{
    background-color: rgba(0, 136,169, 0.9)
}
h6{
    font-size:20px;
}
